slides/*
.Rhistory
.RData
/documents/*
simulations-lorenz/Lorenz*
simulations-lorenz/init_Lorenz*
poisson/
logistic/
gamma/
gauss/
*.log
Ott
arma/*
.directory
VEnKF-test/*
UW-Spacetime-talk
sync.sh
simulations-lorenz/logs/*